<h1 mat-dialog-title>Forgot password</h1>
<div mat-dialog-content class="dialogContent">
  <div *ngIf="isErrorPrimary">
    <span>{{ primaryErrorMessage }}</span>
  </div>
  <form [formGroup]="dataForm">
    <mat-form-field class="fullSize" appearance="outline">
      <mat-label>Email</mat-label>
      <input formControlName="email" type="text" matInput value="" autocomplete="off" aria-label="Email">
      <mat-error *ngIf="dataForm.invalid">{{ getFormErrorMessage("email", "required", "Email") }}</mat-error>
    </mat-form-field>
  </form>
</div>
<div mat-dialog-actions>
  <button mat-button mat-dialog-close [disabled]="isLoading">Cancel</button>
  <button mat-button (click)="submitRecaptcha()" [disabled]="isLoading">Yes</button>
</div>