<section class="container">
  <div class="oauthContainer">
    <div fxLayout="column" fxLayoutAlign="center center">
      <mat-card class="oauthCard">
        <div *ngIf="isLoading && requestStep > 1" class="mplCover"></div>
        <mat-progress-bar 
          [@loadingAnimation]="'in'"
          *ngIf="isLoading && requestStep > 1"
          class="mplProgressBar"
          color="primary" mode="indeterminate">
        </mat-progress-bar>
        <mat-card-content class="oauthCardContent">
          <div class="contentLogoContainer">
            <div fxLayout="row" fxLayoutAlign="center center">
              <div class="logo only-text">
                <img src="/assets/images/logo_web.png" alt="logo">
              </div>
            </div>
          </div>

          <div *ngIf="requestStep === 1" class="formPadding">
            <div class="infoBoxParent">
              <h1 *ngIf="!isErrorPrimary" class="mat-headline subtitleText"><span>{{ stepOneTitle }}</span></h1>
              <div>
                <h1 *ngIf="isErrorPrimary" class="mat-headline subtitleText mat-error"><span>{{ getFormErrorMessage("primary") }}</span></h1>
              </div>
            </div>

            <div fxLayout="row" fxLayoutAlign="space-around center" class="spinnerContainer" *ngIf="isLoading">
              <mat-spinner mode="indeterminate" diameter="48"></mat-spinner>
            </div>

          </div>
          <form [formGroup]="dataForm" *ngIf="requestStep > 1">
            <div class="infoBoxParent">
              <h1 class="mat-headline subtitleText"><span>{{ getTitle() }}</span></h1>
              <div *ngIf="requestStep != 99">
                <h3 *ngIf="!isErrorPrimary" class="mat-subheading-2 subtitleText"><span>{{ getSubTitle() }}</span></h3>
                <h3 *ngIf="isErrorPrimary" class="mat-subheading-2 subtitleText mat-error"><span>{{ getFormErrorMessage("primary") }}</span></h3>
              </div>
            </div>

            <div *ngIf="requestStep === 99" class="formPadding">
              <h3 class="mat-subheading-2 subtitleText text-center"><span>{{ stepNineNineTitle }}</span></h3>
            </div>

            <div class="formPadding" *ngIf="requestStep === 3">
              <mat-form-field class="fullSize inputMargin" appearance="outline">
                <mat-label>Password</mat-label>
                <input #inputPassword [type]="pswdHide ? 'password' : 'text'" formControlName="password" matInput value="" autocomplete="off">
                <mat-error *ngIf="dataForm.invalid">{{ getFormErrorMessage("password", "required", "Password") }}</mat-error>
                <button type="button" mat-icon-button matSuffix (click)="pswdHide = !pswdHide">
                  <mat-icon aria-label="Password icon">{{ pswdHide ? 'visibility_off' : 'visibility' }}</mat-icon>
                </button>
              </mat-form-field>
              <mat-form-field class="fullSize inputMargin" appearance="outline">
                <mat-label>Confirm Password</mat-label>
                <input #inputPasswordConfirm [type]="pswdHide ? 'password' : 'text'" formControlName="passwordConfirm" matInput value="" autocomplete="off">
                <mat-error *ngIf="dataForm.invalid">{{ getFormErrorMessage("passwordConfirm", "required", "Confirm Password") }}</mat-error>
                <button type="button" mat-icon-button matSuffix (click)="pswdHide = !pswdHide">
                  <mat-icon aria-label="Password icon">{{ pswdHide ? 'visibility_off' : 'visibility' }}</mat-icon>
                </button>
              </mat-form-field>

              <div class="formAction" *ngIf="requestStep === 3">
                <div fxLayout="row" fxLayoutAlign="center center" class="actionBottom">
                  <button mat-button [matMenuTriggerFor]="menuAuth" type="button">More options</button>
                  <mat-menu #menuAuth="matMenu">
                    <a mat-menu-item href="https://myponyasia.com/" rel="noreferer">Go to homepage</a>
                    <a mat-menu-item href="https://discord.gg/uvFxwvSy9D" target="_blank" rel="noreferer">Need help?</a>
                  </mat-menu>
                  <div fxFlex></div>
                  <button mat-flat-button color="primary" (click)="submitButton()" [disabled]="isLoading">&nbsp; {{ getButtonText() }} &nbsp;</button>
                </div>
              </div>
            </div>
          </form>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</section>
